---
import Pill from "@/components/Pill.astro";
import { formatReadableDate } from "@/lib/format-date";

export interface Props {
	title: string;
	href: string;
	created?: Date | number | string;
}

const { title, href, created } = Astro.props as Props;
---

<article
	class="p-1 shadow-xl rounded-2xl bg-gradient-to-r from-neutral to-neutral-focus hover:from-primary-focus hover:to-secondary-focus focus-within:from-primary-focus focus-within:to-secondary-focus bg-opacity-50 hover:bg-opacity-100 focus-within:bg-opacity-100"
>
	<a
		{href}
		class="flex flex-col justify-end h-full p-6 bg-neutral bg-opacity-90 hover:bg-opacity-60 focus:bg-opacity-60 sm:p-8 rounded-xl focus:outline-none"
	>
		<div class="mt-16">
			<time 
				datetime={new Date(created).toISOString()}
				aria-hidden={created ? undefined : true}
				class="text-xs font-medium text-neutral-content/75"
			>
				{created ? formatReadableDate(created) : ""}
			</time>
			<h2 class="mt-2 text-xl font-bold text-neutral-content">
				{title}
			</h2>
			{/**
				<div class="flex items-center justify-between mt-6">
					<p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-red-600">
						Rails
					</p>
					<ul class="flex space-x-1">
						<Pill>Snippet</Pill>
						<Pill>Info</Pill>
						<Pill>Tip</Pill>
					</ul>
				</div>
			 */}
		</div>
	</a>
</article>
